<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 2</title>
    <link rel="stylesheet" href="layout_style2.css">
    
</head>
<body>
<div>
    <div>
        <div id="r1c1">
            <img id="logo1" src="logo1.jpg"  alt="log1">
        </div>
        <div id="r1c2">
            <h3 id="head1">HTML Learning </h3>
    </div>
    </div>
    <div id=r3>Header/Bannner</div>
    <div id="r4">
        <div id=r4c1>
            <img height="390px" width="390px" src="body1.jpg" alt="violet1">
        </div>
        <div id=r4c2>
            <img height="390px" width="390px" src="body2.jpg" alt="violet2">
        </div>
        <div id=r4c3><img height="390px" width="390px" src="body3.jpg" alt="violet3"></div>
    </div>

    <div id=r5>Footer</div>
    
</div>    
</body>
</html>