<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1</title>
    <link rel="stylesheet" href="layout_style.css">
    
</head>
<body>
<div>
    <div id=r1>Logo</div>
    <div id=r2>Navigationn</div>
    <div id=r3>Header/Bannner</div>
    <div id="r4">
        <div id=r4c1>Side bar</div>
        <div id=r4c2>Body</div>
    </div>

    <div id=r5>Footer</div>
    
</div>    
</body>
</html>