<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 3</title>
    <link rel="stylesheet" href="layout_style3.css">
</head>
<body>
    <div class="wrap">
        <div>
            
            <div class="border_main" id="r1c1">
                <img id="logo1" src="home1.png" alt="home">
                
            </div>
            <div class="border_main" id="r1c2">nav</div>
        </div>
        <div>
            <div class="border_main"id="r2c1">side bar</div>
            <div class="border_main"id="r2c2">head/banner</div>
            <div class="border_main"id="r2c3">body area</div>
        </div>       
        
        <div id="r3">footer</div>
    </div>
</body>
</html>