.words {
    background-color: rgb(48, 198, 224);
    height: 28px;
    width: 164px;
    font-size: 23px;
    padding-top: 5px;
    margin-bottom: -33px;
    text-align: left;
}

.name {
    background-color: rgb(136, 98, 238);
    height: 28px;
    width: 102px;
    font-size: 23px;
    padding-top: 5px;
    margin-left: 263px;
    text-align: center;
}

div {
    display: block;
    margin-left: 100px;
}